@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "tailwindcss"; */
/* Vous pouvez remettre vos imports de police ici si nécessaire, sinon supprimez cette ligne */
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display...'); */

@layer utilities {
  /* Masquer la scrollbar tout en gardant la fonctionnalité */
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}